*{
	margin: 0px;
	padding: 0px;
	font-family: 'Shrikhand', cursive;
}


body{
	
	background-image: url("../images/background.jpg");
}

#gameWrapper{
	margin-top: 20px;
	display: block;
	border: 3px solid #274998;
	margin: 0px auto;
	width: 75%;
	background-color: white;
	height: 600px;

}

#triviaHeader{
	font-family: 'Shrikhand', cursive;
	font-size: 200%;
	color: #178888;
	text-align: center;
}

#startButton{
	display: block;
	margin: 150px auto;

    background-color: #647EBB; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 75%;
    height: 80px;
    font-size: 30px;
}

.answer{
	display: block;
	margin: 10px auto;

    background-color: #53ACAC; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 90%;
    height: 80px;
    font-size: 16px;
}

.answerDisplaY{

}

.question{
	display: block;
	margin: 10px auto;
	text-align: center;

}

.timer{
	display: block;
	margin: 10px auto;
	text-align: center;

}